a {
  color: white
}

p {
  color: white;
}

.footerNav {
  position: relative;
  display: inline-block;
  color: white; 
  text-decoration: none; /* remove default underline */
  font-size: 18px;
  padding-bottom: 4px; 
}

/* Create hidden underline */
.footerNav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white; 
  transition: width 0.3s ease-in-out;
}

/* Animate underline on hover */
.footerNav:hover::after {
  width: 100%;
}

.footerDataContainer {
  color: white;
}